@import "../../styles/variables.scss";

.analytics_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    padding: 5px 15px;
    background-color: $accent-base;
    border: none;
    color: $white-secondary;
    border-radius: 4px;
    font-size: 1rem;

    option {
      font-size: 1rem;
    }
  }
  .buttons {
    margin: 30px 0;
    button {
      background-color: $accent-base;
      border: none;
      color: $white-base;
      padding: 5px 10px;
      font-size: 1rem;
      opacity: 0.5;
      cursor: pointer;
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}

.graph_container {
  border: 2px solid $base-gray;
  border-radius: 10px;
  margin: auto;
  .data_option {
    display: flex;
    .data_select {
      background-color: $accent-base;
      border: none;
      width: 10rem;
      color: $white-secondary;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      opacity: 0.6;
      cursor: pointer;
      &.active {
        opacity: 1;
      }
      &:first-child {
        border-top-left-radius: 10px;
      }
      p {
        font-weight: 600;
        font-size: 1rem;
      }
      .button_inner {
        display: flex;
        h1 {
          font-size: 2.5rem;
          font-weight: 600;
        }
      }
    }
  }
}
