.card_container {
  width: 50%;
  .card_container_data {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
    .text_data {
      display: flex;
      margin: 15px 0;
      justify-content: space-between;
    }
  }
}
