@import "../../../styles/variables.scss";

.card_container {
  width: 49%;
  margin: 1rem 0;
  .card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .card_container_data {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
    .text_data {
      display: flex;
      margin: 15px 0;
      justify-content: space-between;
      cursor: pointer;
      border-radius: 5px;
      padding: 0 10px;
      &:hover {
        background-color: rgba($accent-base, 0.5);
      }
    }
  }
}
