@import "../../styles/variables.scss";

@mixin toggle($bg-light, $bg-dark, $text-light, $text_dark) {
  &[data-theme="light"] {
    background-color: $bg-light;
    color: $text-light;
  }
  &[data-theme="dark"] {
    background-color: $bg-dark;
    color: $text-dark;
  }
}

.dashboard_layout_container {
  display: flex;
  @include toggle($white-base, $dark-base, $dark-base, $white-base);
  min-height: 100vh;
  .sidebar {
    width: 20%;
    position: fixed;
    height: 100vh;
    @include toggle(
      $white-secondary,
      $dark-secondary,
      $dark-secondary,
      $white-secondary
    );
  }
  .main {
    width: 80%;
    padding: 1rem 3rem;
    margin-left: 20%;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        background-color: $accent-base;
        color: $white-base;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        border: none;
        cursor: pointer;
      }
    }
  }
  .body {
    margin-top: 1.5rem;
  }
}
