@import "../../styles/variables.scss";

.auth_layout_container {
  background-color: $dark-base;
  min-height: 100vh;
  display: flex;
  align-items: center;
  //   justify-content: center;
  // padding: 3rem 0;
  flex-direction: column;
  h1 {
    background-color: $accent-base;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 3rem 0 2rem 0;
  }
  h2 {
    font-weight: 500;
    color: $white-base;
    font-size: 2rem;
  }

  .auth_content {
    margin-top: 50px;
    p {
      color: $white-secondary;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }
}
