@import "../../../styles/variables.scss";

.stats_container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.stat_card {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  background-color: $dark-secondary;
  padding: 1rem 2rem;
  border-radius: 10px;
  &[data-theme="light"] {
    background-color: $white-secondary;
  }
  .stat_card_icon {
    margin-right: 0.5rem;
    svg {
      font-size: 1.5rem;
    }
  }
  .data {
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
