@import "../../../styles/variables.scss";

$modal-bg-color: rgba(0, 0, 0, 0.5);
$modal-border-radius: 5px;
$modal-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
$modal-padding: 20px;
$modal-width: 80%;
$modal-max-width: 500px;
$modal-max-height: 80%;
$modal-close-button-color: gray;
$modal-close-button-hover-color: black;

.modal-overlay {
  background-color: $modal-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 30;
}

.modal-container {
  background-color: $dark-secondary;
  border-radius: $modal-border-radius;
  box-shadow: $modal-box-shadow;
  padding: $modal-padding;
  position: relative;
  width: $modal-width;
  max-width: $modal-max-width;
  max-height: $modal-max-height;
  overflow-y: auto;
  z-index: 9999999999999999999999999;
  h1 {
    font-weight: 500;
    font-size: 1.3rem;
  }
  input {
    background-color: transparent;
    outline: none;
    width: 100%;
    border: 1px solid $accent-base;
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px 0;
    border-radius: 5px;
    color: $white-secondary;
    padding-left: 4px;
  }
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: $modal-close-button-color;
}

.modal-close-button:hover {
  color: $modal-close-button-hover-color;
}
