@import "../../../styles//variables.scss";

.sidebar_container {
  &[data-theme="light"] {
    color: $dark-base;
  }
  color: $white-base;
  padding: 1rem;
  h1 {
    text-align: center;
    font-size: larger;
  }

  .links_container {
    width: 100%;
    margin-top: 1.5rem;
    .route_btn {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0.7rem 0.3rem;
      border-radius: 0.4rem;
      margin: 1.3rem 0;
      &.active {
        background-color: $accent-base;
        color: $white-base !important;
      }
      color: $white-base;
      font-size: medium;
      font-weight: 400;
      &[data-theme="light"] {
        color: $base-gray;
      }
      &[data-theme="dark"] {
        color: $white-base;
      }
      .link_icon {
        margin: 0 1rem 0 0.5rem;
        font-size: 15px;
      }
    }
  }
  .toggle_btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem;
  }
}
