@import "./variables.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  ::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

body {
  ::-webkit-scrollbar {
    width: 5px;
    // height: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.auth-btn {
  @apply py-3 flex items-center justify-center bg-secondary_dark rounded-md px-12 border-base_accent border my-2;
  width: 360px;
  svg {
    margin-right: 10px;
  }
}

.editor-content {
  margin-top: 30px;

  * {
    outline: none;
    margin: 10px 0;
    h1,
    h2,
    h3 {
      font-weight: 500;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 1.2rem;
  }
  code {
    background-color: rgba(#616161, 0.1);
    border-radius: 0.25em;
    box-decoration-break: clone;
    color: #616161;
    font-size: 0.9rem;
    padding: 0.25em;
  }
  img {
    max-width: 100%;
  }
  mark {
    background-color: yellow;
    border-radius: 0.25em;
    box-decoration-break: clone;
    // padding: 0.125em 0;
  }
  a {
    color: $accent-base;
  }
}

// button {
//   cursor: pointer;
//   &:disabled {
//     opacity: 0.4;
//     cursor: not-allowed;
//   }
// }
// h3 {
//   font-weight: 600;
// }
