:root {
  --text-color: #000;
  --background-color: #f8f8f8;
  --background-secondary: #fff;
}

[data-theme="dark"] {
  --text-color: #fff;
  --background-color: #1e1e1e;
  --background-secondary: #171717;
}
