$white-base: #fff;
$white-secondary: #f8f8f8;
$dark-base: #2e2e2e;
$dark-secondary: #171717;
$accent-base: #573ad8;
$base-gray: rgb(87, 87, 87);
$color-1: #7f3da5;
$color-2: #b50015;
$color-3: #31ed4a;
$color-4: #4a5aef;
