@import "../../../styles/variables.scss";

.stats_container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.stat_card {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  background-color: $dark-secondary;
  padding: 1rem 2rem;
  border-radius: 10px;
  &[data-theme="light"] {
    background-color: $white-secondary;
  }
  &:nth-child(1) .stat_card_icon {
    &[data-theme="light"] {
      background-color: rgba($color-1, 0.2);
    }
  }
  &:nth-child(2) .stat_card_icon {
    &[data-theme="light"] {
      background-color: rgba($color-2, 0.2);
    }
  }
  &:nth-child(3) .stat_card_icon {
    &[data-theme="light"] {
      background-color: rgba($color-3, 0.2);
    }
  }
  &:nth-child(4) .stat_card_icon {
    &[data-theme="light"] {
      background-color: rgba($color-4, 0.2);
    }
  }
  &:nth-child(1) .stat_card_icon svg {
    color: $color-1;
  }
  &:nth-child(2) .stat_card_icon svg {
    color: $color-2;
  }
  &:nth-child(3) .stat_card_icon svg {
    color: $color-3;
  }
  &:nth-child(4) .stat_card_icon svg {
    color: $color-4;
  }
  .stat_card_icon {
    margin-right: 0.7rem;
    background-color: $white-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    svg {
      font-size: 1.5rem;
    }
  }
  .data {
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
