@import "../../../styles/variables.scss";

.editor_menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  button {
    width: 100%;
    font-size: 1rem;
    padding: 15px 0;
    text-align: left;
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: rgba($dark-secondary, 0.3);
    color: $white-secondary;
    &:hover {
      background-color: rgba($accent-base, 0.7);
    }
  }
}
