@import "../../../styles/variables.scss";

.editor_menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 5px;
  button {
    width: 100%;
    font-size: 1rem;
    padding: 15px 0;
    text-align: left;
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: rgba($dark-secondary, 0.3);
    color: $white-secondary;
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      font-size: 1.3rem;
      background-color: rgba($accent-base, 0.2);
      padding: 7px;
    }
    &:hover {
      background-color: rgba($accent-base, 0.7);
    }
  }
}

.editor_content {
  * {
    outline: none;
  }
}

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
