.editor_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  button {
    width: 100%;
    font-size: 1rem;
    padding: 10px 0;
    margin: 5px 0;
    text-align: left;
  }
}
