@import "../../../styles/variables.scss";

.editor_menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 5px;
  img {
    max-width: 500px;
  }
  .btn_container {
    width: 100%;
    button {
      width: 100%;
      font-size: 1rem;
      padding: 15px 0;
      text-align: left;
      padding-left: 15px;
      outline: none;
      border: none;
      background-color: rgba($dark-secondary, 0.3);
      color: $white-secondary;
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
        font-size: 1.3rem;
        background-color: rgba($accent-base, 0.2);
        padding: 7px;
      }
      &:hover {
        background-color: rgba($accent-base, 0.7);
      }
    }
  }
}

.editor_content {
  * {
    outline: none;
    margin: 10px 0;
  }
  p {
    font-size: 1.2rem;
  }
  code {
    background-color: rgba(#616161, 0.1);
    border-radius: 0.25em;
    box-decoration-break: clone;
    color: #616161;
    font-size: 0.9rem;
    padding: 0.25em;
  }
  img {
    max-width: 100%;
  }
  mark {
    background-color: yellow;
    border-radius: 0.25em;
    box-decoration-break: clone;
    // padding: 0.125em 0;
  }
  a {
    color: $accent-base;
  }
}

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.text_select_menu {
  display: flex;
  // width: 500px;
  button {
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0 5px;
    color: $white-secondary;
    font-size: 1rem;
  }
}

.add_btn {
  background-color: $accent-base;
  color: $white-base;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

// Curtis#0509
