@import "../../styles/variables.scss";

.settings_card {
  margin: 3rem 0;

  .settings_card_container {
    background-color: $dark-secondary;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    &[data-theme="light"] {
      background-color: $white-secondary;
    }
    h4 {
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}
